.start{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__firstEntry{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button{
        background-color: #CE68E8;
        color: white;
        padding: 10px 20px;
        font-size: 24px;
        border-radius: 7px;
    }

    &__button:hover{
        scale: 1.05;
        transition: 0.3s;
    }

    &__button:not(:hover){
        scale: 1;
        transition: 0.3s;
    }

    &__warning{
        margin-top: 20px;
        max-width: 500px;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.5);
    }
}